# RabbitMQ
RABBITMQ_USER=agg
RABBITMQ_PASSWORD=aggpwd
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672

# PostgreSQL
POSTGRES_USER=agg
POSTGRES_PASSWORD=aggpwd
POSTGRES_DB=aggdb
POSTGRES_PORT=5432

# MongoDB
MONGO_USER=agg
MONGO_PASSWORD=aggpwd
MONGO_PORT=27017
